* {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5rem;
}

p {
  word-break: normal;
}

h1 {
  margin: 10px;
  line-height: 2rem;
}

hr,
b {
  margin: 5px;
}

button {
  margin: 3px;
  cursor: pointer;
}

label {
  display: block;
  margin: 5px;
}

.wrapper {
  border: 1px solid grey;
  padding: 3px;
}
